@use "sass:math";
@use "common";

$root-size: 14px;

@function px($value) {
	@return math.div($value * 1px, $root-size) * 1rem;
}

:root {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: #{math.div(1rem, 16px) * $root-size};
	line-height: 1;

	accent-color: var(--accent);

	@include common.define-quad(page-pad, px(32), px(32));

	--content-column-gap: #{px(24)};
	--content-row-gap: #{px(24)};
	--content-radius: #{px(8)};
	--content-border: #{px(2)};
	@include common.define-quad(content-pad, px(16), px(16));

	--group-column-gap: #{px(16)};
	--group-row-gap: #{px(16)};
	@include common.define-quad(group-pad, px(16), px(16));

	--control-column-gap: #{px(8)};
	--control-row-gap: #{px(8)};
	--control-radius: #{px(5)};
	--control-border: #{px(2)};
	--control-disabled: opacity(.5);
	@include common.define-quad(control-pad, px(7), px(8));

	--input-extension: #{px(4)};

	--separator: #{px(1)};

	--focus-outline-offset: #{px(2)};

	--overflow-safe-area: #{px(4)};

	--line-gap: #{px(6)};
	--space-gap: #{px(6)};

	--layout-transition: .15s ease;
	--color-transition: .1s ease;

	--layout-transition-ms: 150;
}

@include common.theme((
	bg: (
		dark: rgb(24, 24, 24),
		light: rgb(245, 245, 245),
	),
	bg-alt: (
		dark: rgb(32, 32, 32),
		light: rgb(255, 255, 255),
	),
	accent: (
		dark: rgb(64, 160, 255),
		light: rgb(0, 127, 255),
	),
	fg: (
		dark: white,
		light: black,
	),
	focus-outline: (
		dark: var(--control-border) dashed var(--accent),
		light: var(--control-border) dashed var(--accent),
	),
	separator-color: (
		dark: rgb(64, 64, 64),
		light: rgb(220, 220, 220),
	),
	selection-bg: (
		dark: rgba(64, 160, 255, 0.5),
		light: rgba(0, 127, 255, 0.3),
	),
	overlay-backdrop: (
		dark: rgba(24, 24, 24, .8),
		light: rgba(245, 245, 245, .7),
	),
	overlay-bg: (
		dark: var(--bg),
		light: var(--bg),
	),
	overlay-border: (
		dark: rgb(48, 48, 48),
		light: rgb(216, 216, 216),
	),
	overlay-shadow: (
		dark: 0 0 #{px(12)} rgba(0, 0, 0, .3),
		light: 0 0 #{px(12)} rgba(128, 128, 128, .2),
	),
	content-shadow: (
		dark: 0 0 #{px(12)} rgba(0, 0, 0, .3),
		light: 0 0 #{px(12)} rgba(128, 128, 128, .2),
	),
	control-shadow: (
		dark: 0 0 #{px(3)} rgba(0, 0, 0, 0.5),
		light: 0 0 #{px(2)} rgba(128, 128, 128, .2),
	),
));

body {
	background-color: var(--bg);
	color: var(--fg);

	text-wrap: balance;
	@supports (text-wrap: pretty) {
		text-wrap: pretty;
	}
}

* {
	box-sizing: border-box;
	--space-scale: 1;
	--space-above: unset;
	--space-below: unset;
}

::selection {
	background-color: var(--selection-bg);
}
