@use "sass:math";
@use "common";

$root-size: 14px;

@function px($value) {
	@return math.div($value * 1px, $root-size) * 1rem;
}

:root {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: #{math.div(1rem, 16px) * $root-size};
	line-height: 1;

	--accent: rgb(0, 192, 255);
	accent-color: var(--accent);

	--content-column-gap: #{px(24)};
	--content-row-gap: #{px(24)};
	--content-radius: #{px(8)};
	--content-border: #{px(2)};
	--content-shadow: 0 0 #{px(16)} rgba(0, 0, 0, .2);
	@include common.define-quad(content-pad, px(20), px(20));

	--group-column-gap: #{px(16)};
	--group-row-gap: #{px(16)};
	@include common.define-quad(group-pad, px(20), px(20));

	--control-column-gap: #{px(8)};
	--control-row-gap: #{px(8)};
	--control-radius: #{px(5)};
	--control-border: #{px(2)};
	--control-shadow: 0 0 #{px(3)} rgba(0, 0, 0, .5);
	--control-disabled: opacity(.5);
	@include common.define-quad(control-pad, px(8), px(10));

	--input-padding: #{px(4)};

	--separator: #{px(1)};

	--focus-outline-offset: #{px(2)};

	--overflow-safe-area: #{px(4)};

	--line-gap: #{px(6)};
	--space-gap: #{px(6)};

	--layout-transition: .15s ease;
	--color-transition: .1s ease;

	--layout-transition-ms: 150;
}

@include common.theme((
	bg: (
		dark: rgb(36, 36, 36),
	),
	fg: (
		dark: white,
	),
	focus-outline: (
		dark: var(--control-border) dashed var(--accent),
	),
	separator-color: (
		dark: rgb(64, 64, 64),
	),
));

body {
	background-color: var(--bg);
	color: var(--fg);

	text-wrap: balance;
	@supports (text-wrap: pretty) {
		text-wrap: pretty;
	}
}

* {
	box-sizing: border-box;
	--space-scale: 1;
	--space-above: unset;
	--space-below: unset;
}

::selection {
	background-color: rgba(0, 150, 200, .6);
}
