
:root {
	font-family: -apple-system, BlinkMacSystemFont, "Ubuntu", "Segoe UI", system-ui, sans-serif;
	font-size: .875rem;
	line-height: 1;
}

* {
	box-sizing: border-box;
	--space-scale: 1;
	--space-above: unset;
	--space-below: unset;
}

::selection {
	background-color: var(--bg-selection);
}

body {
	background-color: var(--bg);
	color: var(--fg);
	accent-color: var(--accent);

	text-wrap: balance;
	@supports (text-wrap: pretty) {
		text-wrap: pretty;
	}

	--line-gap: .5rem;

	--page-padding-block: 2rem;
	--page-padding-inline: 2rem;

	--content-row-gap: 2rem;
	--content-column-gap: 2rem;
	--content-radius: .5rem;
	--content-border: .2rem;
	--content-padding-block: 1rem;
	--content-padding-inline: 1rem;

	--group-row-gap: 1rem;
	--group-column-gap: 1rem;
	--group-padding-block: 1rem;
	--group-padding-inline: 1rem;

	--control-row-gap: .5rem;
	--control-column-gap: .5rem;
	--control-radius: .3rem;
	--control-border: .2rem;
	--control-padding-block: .5rem;
	--control-padding-inline: .5rem;

	--transition-color: .1s ease;
	--transition-layout: .25s ease;

	--separator: .15rem;

	--overflow-safe-area: .2rem;
	--input-extension: .2rem;

	--focus-outline-offset: .1rem;
}

.rvx-dark {
	color-scheme: dark;

	--bg: rgb(24 24 24);
	--bg-alt: rgb(32 32 32);
	--bg-selection: rgb(64 150 255 / .5);

	--fg: white;
	--accent: rgb(64 160 255);
	--fg-danger: rgb(255 64 64);

	--secondary-filter: opacity(.6);

	--overlay-shadow: 0 0 1.5rem rgba(0 0 0 / .3);
	--overlay-backdrop: rgb(24 24 24 / .8);

	--content-shadow: 0 0 .75rem rgba(0 0 0 / .3);

	--control-disabled: opacity(.5);
	--control-shadow: 0 0 .2rem rgb(0 0 0 / .5);

	--separator-color: rgb(40 40 40);

	--focus-outline: var(--control-border) dashed var(--accent);
}
