@use "../common";

@include common.theme((
	card-default-border: (
		dark: rgb(36, 36, 36),
		light: rgb(216, 216, 216),
	),
	card-info-border: (
		dark: rgb(64, 160, 255),
		light: rgb(0, 127, 255),
	),
	card-success-border: (
		dark: rgb(64, 255, 64),
		light: rgb(0, 255, 0),
	),
	card-warning-border: (
		dark: rgb(255, 200, 0),
		light: rgb(255, 200, 0),
	),
	card-danger-border: (
		dark: rgb(255, 64, 64),
		light: rgb(255, 0, 0),
	),
));

.card {
	box-shadow: var(--content-shadow);
	border-radius: var(--content-radius);
	background-color: var(--bg-alt);

	&:not(.card_raw) {
		@include common.padding(content-pad, var(--content-border));
	}
}

@each $name in (default, info, success, warning, danger) {
	.card_#{$name} {
		border: var(--content-border) solid var(--card-#{$name}-border);
	}
}
