
.checkbox_label {
	display: flex;
	column-gap: var(--control-column-gap);
	align-items: start;

	&:has(.checkbox_input:not(:disabled)) {
		cursor: pointer;
	}

	&:has(.checkbox_input:disabled) > .checkbox_content {
		filter: var(--control-disabled);
	}

	&:has(.checkbox_input:focus-visible) {
		outline: var(--focus-outline);
		outline-offset: var(--focus-outline-offset);
	}
}

.checkbox_padding {
	padding: var(--input-extension);
	margin: calc(var(--input-extension) * -1);
}

.checkbox_input {
	margin: 0;
	outline: none;
	cursor: inherit;
}
