
.collapse {
	display: block;
	position: relative;
	block-size: 0px;
	overflow: hidden;
	--space-scale: 0;

	transition:
		margin-block-start var(--layout-transition),
		margin-block-end var(--layout-transition),
		block-size var(--layout-transition);
}

.collapse_visible.collapse_visible {
	block-size: var(--collapse-size);
	--space-scale: 1;
}

.collapse_content {
	position: absolute;
	top: 0;
	left: 0;
}
