
.collapse {
	display: block;
	position: relative;
	opacity: 0;
	--space-scale: 0;
}

.collapse_sized {
	transition:
		margin-block-start var(--layout-transition),
		margin-block-end var(--layout-transition),
		opacity var(--layout-transition);
}

@keyframes alert {
	from { transform: translateX(0rem); }
	30% { transform: translateX(.2rem); }
	70% { transform: translateX(-.2rem); }
	to { transform: translateX(0rem); }
}

.collapse_alert {
	animation: alert .2s ease;
}

.collapse_visible.collapse_visible {
	--space-scale: 1;
	opacity: 1;
}

.collapse_view {
	block-size: 0px;
	position: relative;
	overflow: hidden;

	.collapse_sized > & {
		transition:
			block-size var(--layout-transition),
			margin var(--layout-transition);
	}

	.collapse_visible > & {
		block-size: calc(var(--collapse-size) + var(--overflow-safe-area) * 2);
		margin: calc(var(--overflow-safe-area) * -1);
	}
}

.collapse_content {
	position: absolute;
	inline-size: 100%;
	top: 0px;
	left: 0px;

	.collapse_sized > * > & {
		transition:
			top var(--layout-transition),
			left var(--layout-transition),
			inline-size var(--layout-transition);
	}

	.collapse_visible & {
		top: var(--overflow-safe-area);
		left: var(--overflow-safe-area);
		inline-size: calc(100% - var(--overflow-safe-area) * 2);
	}
}
