
.collapse {
	display: block;
	--space-scale: 0;

	transition:
		margin-block-start var(--layout-transition),
		margin-block-end var(--layout-transition);
}

.collapse_visible.collapse_visible {
	--space-scale: 1;
}

.collapse_view {
	transition:
		block-size var(--layout-transition),
		margin var(--layout-transition);

	block-size: 0px;
	position: relative;
	overflow: hidden;

	.collapse_visible & {
		block-size: calc(var(--collapse-size) + var(--overflow-safe-area) * 2);
		margin: calc(var(--overflow-safe-area) * -1);
	}
}

.collapse_content {
	position: absolute;
	width: calc(100% - var(--overflow-safe-area) * 2);
	top: 0;
	left: 0;

	transition:
		top var(--layout-transition),
		left var(--layout-transition);

	.collapse_visible & {
		top: var(--overflow-safe-area);
		left: var(--overflow-safe-area);
	}
}
