@use "../common";

.column {
	display: flex;
	flex-direction: column;

	& > :not(:first-child) {
		margin-block-start: calc(
			(var(--space-above, var(--parent-row-gap)) - var(--parent-row-gap)) * var(--space-scale)
			+ var(--parent-row-gap) * (var(--space-scale) - 1) / 2
		);
	}

	& > :first-child {
		margin-block-start: calc(var(--parent-row-gap) * (var(--space-scale) - 1) / 2);
	}

	& > :not(:last-child) {
		margin-block-end: calc(
			(var(--space-below, var(--parent-row-gap)) - var(--parent-row-gap)) * var(--space-scale)
			+ var(--parent-row-gap) * (var(--space-scale) - 1) / 2
		);
	}

	& > :last-child {
		margin-block-end: calc(var(--parent-row-gap) * (var(--space-scale) - 1) / 2);
	}
}

@each $size in "content", "group", "control" {
	.column_#{$size} {
		row-gap: var(--#{$size}-row-gap);
		& > * {
			--parent-row-gap: var(--#{$size}-row-gap);
		}

		&.column_padded {
			@include common.padding(#{$size}-pad);
		}
	}
}
