
.control_group {
	display: flex;

	box-shadow: var(--control-shadow);
	border-radius: var(--control-radius);

	background: var(--separator-color);
	gap: var(--separator);

	& > * {
		--control-shadow: none;
	}
}

.control_group_row {
	flex-direction: row;

	& > :not(:first-child) {
		border-start-start-radius: 0;
		border-end-start-radius: 0;
	}
	& > :not(:last-child) {
		border-start-end-radius: 0;
		border-end-end-radius: 0;
	}
}

.control_group_column {
	flex-direction: column;

	& > :not(:first-child) {
		border-start-start-radius: 0;
		border-start-end-radius: 0;
	}
	& > :not(:last-child) {
		border-end-start-radius: 0;
		border-end-end-radius: 0;
	}
}
