
.control_group {
	display: flex;
	flex-direction: row;

	box-shadow: var(--control-shadow);
	* {
		--control-shadow: none;
	}

	& > :not(:first-child) {
		border-start-start-radius: 0;
		border-end-start-radius: 0;
	}
	& > :not(:last-child) {
		border-start-end-radius: 0;
		border-end-end-radius: 0;
	}
}
