
.control_group {
	display: flex;
	box-shadow: var(--control-shadow);
	border-radius: var(--control-radius);
	gap: var(--separator);

	& > * {
		box-shadow: none;
	}
}

.control_group_row {
	flex-direction: row;
	& > :first-child {
		border-start-start-radius: inherit;
		border-end-start-radius: inherit;
	}
	& > :not(:first-child) {
		border-start-start-radius: 0;
		border-end-start-radius: 0;
	}
	& > :last-child {
		border-start-end-radius: inherit;
		border-end-end-radius: inherit;
	}
	& > :not(:last-child) {
		border-start-end-radius: 0;
		border-end-end-radius: 0;
	}
}

.control_group_column {
	flex-direction: column;
	& > :first-child {
		border-start-start-radius: inherit;
		border-start-end-radius: inherit;
	}
	& > :not(:first-child) {
		border-start-start-radius: 0;
		border-start-end-radius: 0;
	}
	& > :last-child {
		border-end-start-radius: inherit;
		border-end-end-radius: inherit;
	}
	& > :not(:last-child) {
		border-end-start-radius: 0;
		border-end-end-radius: 0;
	}
}
