@use "../common";

@include common.theme((
	dialog-container-bg: (
		dark: rgba(24, 24, 24, .8),
	),
	dialog-bg: (
		dark: var(--bg),
	),
	dialog-border: (
		dark: rgb(48, 48, 48),
	),
	dialog-shadow: (
		dark: 0 0 2rem rgba(0, 0, 0, .5),
	),
));

.dialog_container {
	position: fixed;
	inset: 0;

	background-color: var(--dialog-container-bg);

	display: grid;
	grid-template-columns: 1fr minmax(auto, var(--dialog-inline-size)) 1fr;
	grid-template-rows: 5fr minmax(auto, var(--dialog-block-size)) 7fr;

	overflow: auto;

	transition: opacity var(--layout-transition);
	opacity: 0;
}

.dialog_fadein {
	opacity: 1;
	.dialog_body {
		transform: scale(1);
	}
}

.dialog_fadeout {
	pointer-events: none;
	opacity: 0;
	.dialog_body {
		transform: scale(.9);
	}
}

@media (prefers-reduced-motion) {
	.dialog_body.dialog_body {
		transform: unset;
	}
}

.dialog_body {
	grid-row: 2 / 3;
	grid-column: 2 / 3;

	transform: scale(.9);
	transition: transform var(--layout-transition);

	background-color: var(--dialog-bg);
	box-shadow: var(--dialog-shadow);
	border-radius: var(--content-radius);
	border: var(--content-border) solid var(--dialog-border);
	@include common.padding(content-pad, var(--content-border));
}

.dialog_scroll_view {
	border-block-start: var(--content-border) solid var(--dialog-border);
	border-block-end: var(--content-border) solid var(--dialog-border);
	margin-inline-start: calc(var(--content-pad-inline-start) * -1 + var(--content-border));
	margin-inline-end: calc(var(--content-pad-inline-end) * -1 + var(--content-border));
}

.dialog_scroll_view_content {
	@include common.padding(content-pad, var(--content-border));
}
