@use "../common";

.dialog_container {
	position: fixed;
	inset: 0;

	background-color: var(--overlay-backdrop);

	display: grid;
	grid-template-columns: 1fr minmax(auto, var(--dialog-inline-size)) 1fr;
	grid-template-rows: 5fr minmax(auto, var(--dialog-block-size)) 7fr;

	overflow: auto;

	transition: opacity var(--layout-transition);
	opacity: 0;
}

.dialog_fadein {
	opacity: 1;
	.dialog_body {
		transform: scale(1);
	}
}

.dialog_fadeout {
	pointer-events: none;
	opacity: 0;
	.dialog_body {
		transform: scale(.9);
	}
}

@media (prefers-reduced-motion) {
	.dialog_body.dialog_body {
		transform: unset;
	}
}

.dialog_body {
	grid-row: 2 / 3;
	grid-column: 2 / 3;

	transform: scale(.9);
	transition: transform var(--layout-transition);

	background-color: var(--overlay-bg);
	box-shadow: var(--overlay-shadow);
	border-radius: var(--content-radius);
	border: var(--content-border) solid var(--overlay-border);
	@include common.padding(content-pad);
}

.dialog_scroll_view {
	border-block-start: var(--content-border) solid var(--overlay-border);
	border-block-end: var(--content-border) solid var(--overlay-border);
	margin-inline-start: calc(var(--content-pad-inline-start) * -1 + var(--content-border));
	margin-inline-end: calc(var(--content-pad-inline-end) * -1 + var(--content-border));
}

.dialog_scroll_view_content {
	@include common.padding(content-pad);
}
