@use "../common";

.dropdown {
	position: relative;
	outline: none;

	&:not(.dropdown_expansion) {
		min-inline-size: var(--popout-anchor-inline-size);
	}
}

.dropdown_scroll_area {
	border-radius: var(--control-radius);
	background-color: var(--button-item-bg);
	box-shadow: var(--overlay-shadow);
	max-block-size: var(--popout-max-block-size);
	max-inline-size: var(--popout-max-inline-size);
	overflow: auto;
}

.dropdown_content {
	display: flex;
	flex-direction: column;
	border-radius: var(--control-radius);
	border: var(--content-border) solid var(--card-default-border);
	overflow: hidden;
}

.dropdown_item {
	cursor: pointer;
	@include common.padding(control-pad);
	border: transparent solid var(--control-border);
	border-radius: calc(var(--control-radius) - var(--control-border));

	&.dropdown_item_active {
		background-color: var(--button-item-bg-hover);
	}
}
