@use "../common";

@include common.theme((
	dropdown-bg: (
		dark: var(--bg),
	),
	dropdown-border: (
		dark: rgb(72, 72, 72),
	),
	dropdown-shadow: (
		dark: 0 0 1rem rgba(0, 0, 0, .5),
	),
	dropdown-item-active-bg: (
		dark: rgb(63, 63, 63),
	),
));

.dropdown {
	min-inline-size: var(--popout-anchor-inline-size);
	position: relative;
	outline: none;
}

.dropdown_scroll_area {
	background-color: var(--dropdown-bg);
	box-shadow: var(--dropdown-shadow);
	border-radius: var(--control-radius);
	max-block-size: var(--popout-max-block-size);
	max-inline-size: var(--popout-max-inline-size);
	overflow: auto;
}

.dropdown_content {
	display: flex;
	flex-direction: column;
	border-radius: var(--control-radius);
	border: var(--content-border) solid var(--dropdown-border);
}

.dropdown_item {
	cursor: pointer;
	@include common.padding(control-pad, var(--control-border));

	&.dropdown_item_active {
		background-color: var(--dropdown-item-active-bg);
	}
}
