@use "../common";

@include common.theme((
	dropdown-item-active-bg: (
		dark: rgb(63, 63, 63),
		light: rgb(224, 224, 224),
	),
));

.dropdown {
	position: relative;
	outline: none;

	&:not(.dropdown_expansion) {
		min-inline-size: var(--popout-anchor-inline-size);
	}
}

.dropdown_scroll_area {
	background-color: var(--overlay-bg);
	box-shadow: var(--overlay-shadow);
	border-radius: var(--control-radius);
	max-block-size: var(--popout-max-block-size);
	max-inline-size: var(--popout-max-inline-size);
	overflow: auto;
}

.dropdown_content {
	display: flex;
	flex-direction: column;
	border-radius: var(--control-radius);
	border: var(--content-border) solid var(--overlay-border);
}

.dropdown_item {
	cursor: pointer;
	@include common.padding(control-pad);
	border: transparent solid var(--control-border);

	&.dropdown_item_active {
		background-color: var(--dropdown-item-active-bg);
	}
}
