@use "../common";

.link {
	--space-below: var(--control-row-gap);
	line-height: calc(1em + var(--line-gap));

	color: var(--accent);
	font-weight: 600;
	text-decoration: none;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	&:focus-visible {
		text-decoration: underline;
	}
}
