@use "../common";

@include common.theme((
	nav-list-item-bg: (
		dark: transparent,
		light: transparent,
	),
	nav-list-item-bg-hover: (
		dark: rgba(255, 255, 255, 0.1),
		light: rgba(0, 0, 0, 0.075),
	),
	nav-list-item-bg-active: (
		dark: rgba(255, 255, 255, 0.08),
		light: rgba(0, 0, 0, 0.125),
	),
	nav-list-item-bg-current: (
		dark: rgba(255, 255, 255, 0.1),
		light: rgba(0, 0, 0, 0.125),
	),
	nav-list-item-fg: (
		dark: rgb(172, 172, 172),
		light: rgb(72, 72, 72),
	),
	nav-list-item-fg-hover: (
		dark: var(--fg),
		light: var(--fg),
	),
	nav-list-item-fg-active: (
		dark: var(--fg),
		light: var(--fg),
	),
	nav-list-item-fg-current: (
		dark: var(--fg),
		light: var(--fg),
	),
	nav-list-item-border: (
		dark: transparent,
		light: transparent,
	),
));

.nav_list {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 0;
}

.nav_list_item {
	font-family: inherit;
	font-size: inherit;
	font-weight: 600;
	line-height: 1;
	text-align: left;

	background-color: var(--nav-list-item-bg);
	color: var(--nav-list-item-fg);
	border: var(--nav-list-item-border) solid var(--control-border);
	border-radius: var(--control-radius);

	cursor: pointer;

	outline: none;
	@include common.padding(control-pad);

	transition: var(--color-transition) background-color,
		var(--color-transition) border-color;

	&[disabled] {
		cursor: default;
		filter: var(--control-disabled);
	}

	&:hover:not(:active):not([disabled]),
	&:focus-visible {
		color: var(--nav-list-item-fg-hover);
		background-color: var(--nav-list-item-bg-hover);
	}

	&:active {
		color: var(--nav-list-item-fg-active);
		background-color: var(--nav-list-item-bg-active);
	}
}

.nav_list_item_current {
	color: var(--nav-list-item-fg-current);
	background-color: var(--nav-list-item-bg-current);
	box-shadow: var(--control-shadow);
	z-index: 1;
}
