@use "../common";

// TODO: Maybe just use cards with extra marker class for optional style distinction.
@include common.theme((
	notification-default-border: (
		dark: rgb(48, 48, 48),
		light: rgb(200, 200, 200),
	),
	notification-info-border: (
		dark: rgb(64, 160, 255),
		light: rgb(0, 127, 255),
	),
	notification-success-border: (
		dark: rgb(64, 255, 64),
		light: rgb(0, 255, 0),
	),
	notification-warning-border: (
		dark: rgb(255, 200, 0),
		light: rgb(255, 200, 0),
	),
	notification-danger-border: (
		dark: rgb(255, 64, 64),
		light: rgb(255, 0, 0),
	),
));

.notification_host {
	--overflow-safe-area: .5rem;
	display: grid;
	// TODO: Globally configurable position & inline size.
	grid-template-columns: 1fr minmax(auto, 32rem) 0;
	grid-template-rows: 1fr auto 0;
	overflow: auto;

	position: fixed;
	inset: 0;
	pointer-events: none;
	z-index: 2;
	padding: 1rem;
}

.notification_area {
	grid-area: 2 / 2;
}

.notification {
	pointer-events: all;
	box-shadow: var(--content-shadow);
	border-radius: var(--content-radius);
	background-color: var(--bg);

	&:not(.notification_raw) {
		@include common.padding(content-pad);
	}
}

@each $name in (default, info, success, warning, danger) {
	.notification_#{$name} {
		border: var(--content-border) solid var(--notification-#{$name}-border);
	}
}
