@use "../common";

@include common.theme((
	popover-bg: (
		dark: var(--bg),
	),
	popover-border: (
		dark: rgb(48, 48, 48),
	),
	popover-shadow: (
		dark: 0 0 1rem rgba(0, 0, 0, .5),
	),
));

.popover {
	position: relative;
	outline: none;
}

.popover_spike_area {
	pointer-events: none;
	position: absolute;
	inset: -1rem;
	z-index: 1;
}

.popover_spike {
	position: relative;
	transform-origin: bottom;
	width: 2rem;
	height: 1rem;

	--popover-spike-min-offset: 1rem;

	svg {
		width: 2rem;
		height: 1rem;
		fill: var(--popover-border);
		transform-origin: bottom;
		transform: scale(0.75);
		stroke: none;
	}
}

.popover_scroll_area {
	background-color: var(--popover-bg);
	box-shadow: var(--popover-shadow);
	border-radius: var(--content-radius);
	max-block-size: var(--popout-max-block-size);
	max-inline-size: var(--popout-max-inline-size);
	overflow: auto;
}

.popover_content {
	border-radius: var(--content-radius);
	border: var(--content-border) solid var(--popover-border);
	@include common.padding(content-pad, var(--content-border));
}
