@use "../common";

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@each $size in "content", "group", "control" {
	.row_#{$size} {
		column-gap: var(--#{$size}-column-gap);
		row-gap: var(--#{$size}-row-gap);
		& > * {
			--parent-column-gap: var(--#{$size}-column-gap);
			--parent-row-gap: var(--#{$size}-row-gap);
		}

		&.row_padded {
			@include common.padding(#{$size}-pad);
		}
	}
}
