
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.row_content {
	column-gap: var(--content-column-gap);
	row-gap: var(--content-row-gap);
}

.row_control {
	column-gap: var(--control-column-gap);
	row-gap: var(--control-row-gap);
}
