
.separated_column {
	overflow: hidden;
	display: flex;
	flex-direction: column;

	& > * + * {
		border-block-start: calc(var(--separator) * var(--space-scale)) solid var(--separator-color);
	}
}

.separated_row {
	overflow: hidden;
	display: flex;
	flex-direction: row;

	& > * + * {
		border-inline-start: calc(var(--separator) * var(--space-scale)) solid var(--separator-color);
	}
}
