
.slider_host {
	display: flex;
	flex-direction: column;
	row-gap: var(--group-row-gap);

	& > input {
		outline: none;
		cursor: grab;

		&:focus-visible {
			outline: var(--focus-outline);
		}
	}
}
