@use "../common";

@include common.theme((
	text-input-bg: (
		dark: rgb(16, 16, 16),
	),
	text-input-fg: (
		dark: white,
	),
	text-input-border: (
		dark: rgb(80, 80, 80),
	),
	text-input-border-lit: (
		dark: var(--accent),
	),
));

.text_input {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;

	cursor: text;

	outline: none;
	@include common.padding(control-pad);
	border: var(--control-border) solid var(--text-input-border);
	border-radius: var(--control-radius);
	box-shadow: var(--control-shadow);
	background-color: var(--text-input-bg);
	color: var(--text-input-fg);

	&:focus {
		border-color: var(--text-input-border-lit);
	}

	&[disabled] {
		filter: var(--control-disabled);
		cursor: default;
	}
}

input.text_input {
	block-size: calc(var(--control-pad-block-start) + 1em + var(--control-pad-block-end));
}
