@use "../common";

@include common.theme((
	validation-message-fg: (
		dark: rgb(255, 64, 64),
		light: rgb(212, 0, 0),
	),
));

.validation_message {
	color: var(--validation-message-fg);
}

.validation_message_container {
	--space-above: 0.5rem;
}
