
.breadcrumbs {
	flex-wrap: wrap;
	column-gap: var(--control-column-gap);
	row-gap: var(--control-row-gap);
}

.breadcrumbs, .item {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: var(--control-column-gap);
	row-gap: var(--control-row-gap);
}

.item {
	line-height: calc(1em + var(--line-gap));
	margin-block: calc(var(--line-gap) / -2);
}

.separator {
	block-size: calc(1em + var(--line-gap));
	display: block;
	position: relative;
}

.separator svg {
	block-size: 100%;
	stroke: var(--breadcrumb-separator);
}

:global(.rvx-dark) {
	--breadcrumb-separator: rgb(120 120 120);
}
