
.collapse {
	display: block;
	position: relative;
	opacity: 0;
	--space-scale: 0;
}

.sized.sized {
	transition:
		margin-block-start var(--transition-layout),
		margin-block-end var(--transition-layout),
		margin-inline-start var(--transition-layout),
		margin-inline-end var(--transition-layout),
		opacity var(--transition-layout),
		border var(--transition-layout);
}

@keyframes alert {
	from { transform: translateX(0rem); }
	30% { transform: translateX(calc(3rem / 14)); }
	70% { transform: translateX(calc(-3rem / 14)); }
	to { transform: translateX(0rem); }
}

.alert {
	animation: alert .2s ease;
}

.visible.visible {
	--space-scale: 1;
	opacity: 1;
}

.view {
	position: relative;
	overflow: hidden;
	block-size: 0px;

	.sized > & {
		transition:
			block-size var(--transition-layout),
			margin var(--transition-layout);
	}

	.visible > & {
		margin: calc(var(--overflow-safe-area) * -1);
		block-size: calc(var(--collapse-size) + var(--overflow-safe-area) * 2);
	}
}

.content {
	position: absolute;
	top: 0px;
	left: 0px;
	inline-size: 100%;

	.sized > .view > & {
		transition:
			top var(--transition-layout),
			left var(--transition-layout),
			inline-size var(--transition-layout),
			block-size var(--transition-layout);
	}

	.visible > .view > & {
		top: var(--overflow-safe-area);
		left: var(--overflow-safe-area);
		inline-size: calc(100% - var(--overflow-safe-area) * 2);
	}
}
