
.column {
	display: flex;
	flex-direction: column;

	& > :not(:first-child) {
		margin-block-start: calc(
			(var(--space-above, var(--parent-row-gap)) - var(--parent-row-gap)) * var(--space-scale)
			+ var(--parent-row-gap) * (var(--space-scale) - 1) / 2
		);
	}

	& > :first-child {
		margin-block-start: calc(var(--parent-row-gap) * (var(--space-scale) - 1) / 2);
	}

	& > :not(:last-child) {
		margin-block-end: calc(
			(var(--space-below, var(--parent-row-gap)) - var(--parent-row-gap)) * var(--space-scale)
			+ var(--parent-row-gap) * (var(--space-scale) - 1) / 2
		);
	}

	& > :last-child {
		margin-block-end: calc(var(--parent-row-gap) * (var(--space-scale) - 1) / 2);
	}
}

.content {
	row-gap: var(--content-row-gap);
	& > * {
		--parent-row-gap: var(--content-row-gap);
	}

	&.padded {
		padding-block: var(--content-padding-block);
		padding-inline: var(--content-padding-inline);
	}
}

.group {
	row-gap: var(--group-row-gap);
	& > * {
		--parent-row-gap: var(--group-row-gap);
	}

	&.padded {
		padding-block: var(--group-padding-block);
		padding-inline: var(--group-padding-inline);
	}
}

.control {
	row-gap: var(--control-row-gap);
	& > * {
		--parent-row-gap: var(--control-row-gap);
	}

	&.padded {
		padding-block: var(--control-padding-block);
		padding-inline: var(--control-padding-inline);
	}
}
