
.column {
	display: flex;
	flex-direction: column;

	& > :not(:first-child) {
		margin-block-start: calc(
			(var(--space-above, var(--parent-row-gap)) - var(--parent-row-gap)) * var(--space-scale)
			+ var(--parent-row-gap) * (var(--space-scale) - 1) / 2
		);
	}

	& > :first-child {
		margin-block-start: calc(var(--parent-row-gap) * (var(--space-scale) - 1) / 2);
	}

	& > :not(:last-child) {
		margin-block-end: calc(
			(var(--space-below, var(--parent-row-gap)) - var(--parent-row-gap)) * var(--space-scale)
			+ var(--parent-row-gap) * (var(--space-scale) - 1) / 2
		);
	}

	& > :last-child {
		margin-block-end: calc(var(--parent-row-gap) * (var(--space-scale) - 1) / 2);
	}
}

.content {
	row-gap: var(--content-gap-r);
	& > * {
		--parent-row-gap: var(--content-gap-r);
	}

	&.padded {
		padding: var(--content-pad-r) var(--content-pad-c);
	}
}

.group {
	row-gap: var(--group-gap-r);
	& > * {
		--parent-row-gap: var(--group-gap-r);
	}

	&.padded {
		padding: var(--group-pad-r) var(--group-pad-c);
	}
}

.control {
	row-gap: var(--control-gap-r);
	& > * {
		--parent-row-gap: var(--control-gap-r);
	}

	&.padded {
		padding: var(--control-pad-r) var(--control-pad-c);
	}
}
