
.dropdown {
	position: relative;
	outline: none;

	&:not(.expansion) {
		min-inline-size: var(--popout-anchor-inline-size);
	}
}

.scroll_area {
	border-radius: var(--content-radius);

	background-color: var(--bg-glass);
	backdrop-filter: var(--bg-glass-filter);

	box-shadow: var(--overlay-shadow);
	max-block-size: var(--popout-max-block-size);
	max-inline-size: var(--popout-max-inline-size);
	overflow: auto;
}

.content {
	display: flex;
	flex-direction: column;
	border-radius: var(--content-radius);
	border: var(--content-border) solid var(--default-border);
	overflow: hidden;
	padding: calc(var(--content-radius) - var(--control-radius));
}

.item {
	cursor: pointer;
	padding-block: var(--control-padding-block);
	padding-inline: var(--control-padding-inline);
	border: transparent solid var(--control-border);
	border-radius: var(--control-radius);

	&.item_active {
		background-color: var(--button-item-active);
	}
}
