
.heading {
	line-height: calc(1em + var(--line-gap));
	margin-block: 0;

	&::before,
	&::after {
		content: "";
		display: block;
		pointer-events: none;
		margin-block-start: calc(var(--line-gap) / -2);
	}
}

h1.heading {
	font-size: calc(36rem / 14);
	font-weight: 600;
	--space-above: calc(60rem / 14);
}

h2.heading {
	font-size: calc(24rem / 14);
	font-weight: 600;
	--space-above: calc(40rem / 14);
}

h3.heading {
	font-size: calc(20rem / 14);
	font-weight: 600;
	--space-above: calc(32rem / 14);
}

h4.heading,
h5.heading,
h6.heading {
	font-size: calc(17rem / 14);
	font-weight: 600;
	--space-above: calc(28rem / 14);
}
