
.label {
	--space-below: var(--control-row-gap);
	line-height: calc(1em + var(--line-gap));

	filter: var(--secondary-filter);
	font-size: .87rem;
	font-weight: 600;

	&::before,
	&::after {
		content: "";
		display: block;
		pointer-events: none;
		margin-block-start: calc(var(--line-gap) / -2);
	}
}
