
.nav {
	background-color: var(--nav-bar-bg);
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.grid {
	flex-grow: 1;
	max-inline-size: var(--nav-bar-inline-size);
	margin-inline: var(--page-padding-inline);

	display: grid;
	grid-template-columns: 1fr auto 1fr;
	gap: var(--content-column-gap);
}

.start,
.center,
.end {
	display: flex;
	flex-direction: row;
	gap: var(--content-column-gap);
}

.start {
	justify-content: start;
}

.end {
	justify-content: end;
}

.item {
	display: flex;
	flex-direction: row;
	align-items: center;
	white-space: nowrap;

	font-family: inherit;
	font-size: inherit;
	font-weight: 600;
	line-height: 1;

	cursor: pointer;
	outline: none;
	text-decoration: none;

	padding-inline: 0;
	padding-block: calc(var(--content-padding-block) + var(--marker-size)) var(--content-padding-block);

	border: none;
	border-block-end: var(--marker-size) solid transparent;

	background-color: transparent;
	color: var(--fg-secondary);

	&[disabled] {
		cursor: default;
		filter: var(--control-disabled);
	}

	transition: border-block-end-color var(--transition-color),
		color var(--transition-color);

	&:hover:not([disabled]),
	&:focus-visible:not([disabled]),
	&.expanded {
		color: var(--fg);
		border-block-end-color: var(--nav-bar-marker-hover);
	}

	&.current.current {
		color: var(--fg);
		border-block-end-color: var(--accent);
	}
}

.content {
	padding-block: var(--group-padding-block);
}

:global(.rvx-dark) {
	--nav-bar-bg: rgb(32 32 32);
	--nav-bar-marker-hover: rgb(80 80 80);
}

:global(.rvx-light) {
	--nav-bar-bg: rgb(240 240 240);
	--nav-bar-marker-hover: rgb(172 172 172);
}
