
.page {
	padding-block: var(--page-padding-block);
	padding-inline: var(--page-padding-inline);

	display: flex;
	flex-direction: row;
	justify-content: center;
}

.center_block {
	flex-grow: 1;

	& > .page_content_col {
		display: grid;
		grid-template-rows: 5fr auto 7fr;

		& > .page_content {
			grid-row: 2;
		}
	}
}

.scrollbar_comp {
	flex-grow: 1;
	flex-basis: 0;
	max-inline-size: var(--scrollbar-comp, 0);
}

.content_col {
	flex-grow: 1;
	max-inline-size: var(--page-inline-size);
	flex-basis: calc(var(--page-inline-size) - var(--scrollbar-comp, 0px));
}

.content {
	--scrollbar-comp: initial;
	--page-inline-size: initial;
}
