
.popover {
	position: relative;
	outline: none;
}

.spike_area {
	pointer-events: none;
	position: absolute;
	inset: -1rem;
	z-index: 1;
}

.spike {
	position: relative;
	transform-origin: bottom;
	width: 2rem;
	height: 1rem;

	--popover-spike-min-offset: 1rem;

	svg {
		width: 2rem;
		height: 1rem;
		fill: var(--card-default);
		transform-origin: bottom;
		transform: scale(0.75);
		stroke: none;
	}
}

.scroll_area {
	background-color: var(--bg-alt);
	--parent-bg: var(--bg);

	box-shadow: var(--overlay-shadow);
	border-radius: var(--content-radius);
	max-block-size: var(--popout-max-block-size);
	max-inline-size: var(--popout-max-inline-size);
	overflow: auto;
}

.content {
	border-radius: var(--content-radius);
	border: var(--content-border) solid var(--overlay-border);

	&:not(.raw) {
		padding-block: var(--content-padding-block);
		padding-inline: var(--content-padding-inline);
	}
}
