
.scroll_view {
	flex-grow: 1;
	position: relative;
	overflow: hidden;
}

.area {
	position: absolute;
	inset: 0;
}

.area:focus-visible {
	outline: var(--focus-outline);
	outline-offset: calc(var(--control-border) * -1);
}

.content {
	inline-size: 100%;
	min-block-size: 100%;
	display: flex;
	flex-direction: column;
}

.indicator_start,
.indicator_end {
	position: absolute;
	inset-inline: 0;
	block-size: var(--scroll-view-indicator-size);
	box-shadow: 0 0 var(--scroll-view-indicator-size) var(--scroll-view-indicator-color);
	pointer-events: none;
	opacity: 0;
	transition: opacity var(--layout-transition);
}

.indicator_start {
	inset-block-end: 100%;
}

.indicator_end {
	inset-block-start: 100%;
}

.indicator_visible {
	opacity: 1;
}

:global(.rvx-dark) {
	--scroll-view-indicator-size: 2rem;
	--scroll-view-indicator-color: rgb(0 0 0 / .6);
}
