
.list {
	display: flex;
	flex-direction: row;
	border-bottom: var(--separator) solid var(--separator-color);
}

.list_padded {
	padding-inline: calc(var(--content-padding-inline) - var(--control-padding-inline));
}

.handle {
	font-family: inherit;
	font-size: inherit;
	font-weight: 600;
	line-height: 1;

	cursor: pointer;
	outline: none;

	padding-block: var(--control-padding-block);
	padding-inline: calc(var(--control-padding-inline) + var(--control-border));

	background-color: transparent;
	color: var(--tab-handle-fg);
	border: none;
	border-block-end: transparent solid var(--control-border);

	border-radius: var(--control-radius) var(--control-radius) 0 0;
	transition:
		var(--transition-color) background-color,
		var(--transition-color) border-color;

	&:hover,
	&:focus-visible {
		color: var(--tab-handle-fg-active);
		background-color: var(--tab-handle-bg-active);
	}
	&:active {
		background-color: var(--tab-handle-bg);
	}
}

.handle_current {
	border-block-end-color: var(--tab-handle-marker);
	color: var(--tab-handle-fg-current);
}

.panel {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

:global(.rvx-dark) {
	--tab-handle-marker: rgb(150 150 150);
	--tab-handle-bg: rgb(64 64 64);
	--tab-handle-bg-active: rgb(72 72 72);
	--tab-handle-fg: rgb(172 172 172);
	--tab-handle-fg-active: var(--fg);
	--tab-handle-fg-current: var(--fg);
}

:global(.rvx-light) {
	--tab-handle-marker: rgb(180 180 180);
	--tab-handle-bg: rgb(230 230 230);
	--tab-handle-bg-active: rgb(220 220 220);
	--tab-handle-fg: rgb(72 72 72);
	--tab-handle-fg-active: var(--fg);
	--tab-handle-fg-current: var(--fg);
}
